<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.reptile.mapper.ChongQingTreamentMapper" >


  <insert id="insert" parameterType="java.util.List" >
    insert into chongqingTreament (
    seq_no,name,level,current_flag,project_include
    )
    values
    <foreach collection="list" item="hos"  separator="," >
      ( #{hos.zlxmlsh,jdbcType=VARCHAR},#{hos.zlxmmc,jdbcType=VARCHAR},#{hos.fydj,jdbcType=VARCHAR},
      #{hos.dqsybz,jdbcType=VARCHAR}, #{hos.xmnh,jdbcType=VARCHAR}
      )
    </foreach>

  </insert>

</mapper>