<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.reptile.mapper.HospitalMapper" >

  <sql id="Base_Column_List" >
    hospitalUrl, hospitalName, telephoneNo, hospitalFax, hospitalAddr, hospitalPost,hospitalLocation,hospitalLeaderName,buildTime,hospitalType,hospitalLevel,isMedicalInsurance
  </sql>

<!--  <insert id="insert" parameterType="list" >
    insert into hospital (
        <include refid="Base_Column_List"/>
      )
    values
    <foreach collection="list" item="hos"  separator="," >
      ( #{hos.hospitalUrl,jdbcType=VARCHAR}, #{hos.hospitalName,jdbcType=VARCHAR},
      #{hos.telephoneNo,jdbcType=VARCHAR}, #{hos.hospitalFax,jdbcType=VARCHAR}, #{hos.hospitalAddr,jdbcType=VARCHAR},
      #{hos.hospitalPost,jdbcType=VARCHAR},#{hos.hospitalLocation,jdbcType=VARCHAR},#{hos.hospitalLeaderName,jdbcType=VARCHAR},
      #{hos.buildTime,jdbcType=VARCHAR},#{hos.hospitalType,jdbcType=VARCHAR},#{hos.hospitalLevel,jdbcType=CHAR},
      #{hos.isMedicalInsurance,jdbcType=CHAR}
      )
    </foreach>
  </insert>-->

  <insert id="add" parameterType="com.example.reptile.model.Hospital" >
    insert into hospital (
    <include refid="Base_Column_List"/>
    )
    values
      ( #{hospitalUrl,jdbcType=VARCHAR}, #{hospitalName,jdbcType=VARCHAR},
      #{telephoneNo,jdbcType=VARCHAR}, #{hospitalFax,jdbcType=VARCHAR}, #{hospitalAddr,jdbcType=VARCHAR},
      #{hospitalPost,jdbcType=VARCHAR},#{hospitalLocation,jdbcType=VARCHAR},#{hospitalLeaderName,jdbcType=VARCHAR},
      #{buildTime,jdbcType=VARCHAR},#{hospitalType,jdbcType=VARCHAR},#{hospitalLevel,jdbcType=CHAR},
      #{isMedicalInsurance,jdbcType=CHAR}
      )
  </insert>

  <insert id="insert" parameterType="java.util.List" >
    insert into hospital (
    <include refid="Base_Column_List"/>
    )
    values
    <foreach collection="list" item="hos"  separator="," >
      ( #{hName,jdbcType=VARCHAR},#{hType,jdbcType=VARCHAR},#{hGrade,jdbcType=CHAR},
      #{provinceId,jdbcType=CHAR}
      )
    </foreach>

  </insert>

</mapper>